.container {
  max-width: 600px;
  margin: 40px auto;
  border: 2px solid rgb(253, 110, 206);
  padding: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.button {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}

.list {
  margin-top: 20px;
}

.card {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.h1{
  text-align: center;
}